<!DOCTYPE html>

<html lang="en">
    <head>
        <title>BUUURGERSSS!!!1!</title>
        <meta charset="utf-8"/>
    </head>

    <body>
        <main>
            <h1>Welcome to BUUURGERSSS!!!1!</h1>
        </main>

        <section id="selection">
            <h3>Select burger</h3>

            <table id="burgers" width="1200">
                <thead>
                    <tr>
                        <th>Nothing Burger</th>
                        <th>Giga Burger</th>
                        <th>Quad Burger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center">
                        <td><img src="img/nothingburger.jpg" alt="Nothing Burger" height="200"></td>
                        <td><img src="img/gigaburger.jpg" alt="Giga Burger" height="200"></td>
                        <td><img src="img/quadburger.jpg" alt="Quad Burger" height="200"></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>256g</li>
                                <li>Only salad. Nothing more, nothing less.</li>
                                <li>May contain traces of nuts.</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>90g</li>
                                <li>An assortment of locally produced vegetables.</li>
                                <li>101% vegan.</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>80g</li>
                                <li>Also available in a 50% larger size (Hexa Burger).</li>
                                <li>101% non-vegan.</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="contact">
            <h3>Customer Information</h3>
            <h4>Delivery information:</h4>
            <p>
                <label for="fullname">Full name</label><br>
                <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name" />
            </p>
            <p>
                <label for="email">E-mail</label><br>
                <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
            </p>
            <p>
                <label for="street">Street</label><br>
                <input type="text" id="street" name="st" placeholder="Street name" />
            </p>
            <p>
                <label for="house">House</label><br>
                <input type="number" id="house" name="hs" placeholder="House number" />
            </p>
            <p>
                <label for="payment">Payment options</label><br>
                <select id="payment" name="pay">
                    <option selected="selected">Bitcoin</option>
                    <option>Bitcoin Cash</option>
                    <option>Ethereum</option>
                    <option>Monero</option>
                </select>
            </p>
        </section>

        <hr>
        <footer>
            &copy; 2020 BuRRRRRRRRRRRRRRgers Inc.
        </footer>
    </body>
</html>
