<!DOCTYPE html>

<html lang="en">
    <head>
        <title>BUUURGERSSS!!!1!</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script src="js/js_script.js" defer></script>
        <script src="js/vue_script.js" defer></script>
    </head>

    <body>
        <main>
            <div id="header">
                <img src="img/header.jpg">
                <h1>Welcome to BUUURGERSSS!!!1!</h1>
            </div>

            <section id="selection">
                <h3>Select burger</h3>
                We have multiple tasty alternatives
                <div id="burgers">
                    <div class="box burger" v-for="b of menu">
                        <div class="cbox bname">{{b.name}}</div>
                        <div class="cbox bimg"><img :src="b.img" :alt="b.name"></div>
                        <div class="box blist">
                            <ul>
                                <li>{{b.size}}g</li>
                                <li>{{b.desc}}</li>
                                <li>{{b.info}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section id="order">
                <h3>Customer Information</h3>
                Fill in the form below

                <form>
                    <h4>Delivery information:</h4>

                    <p>
                        <label for="fullname">Full name</label><br>
                        <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name">
                    </p>
                    <p>
                        <label for="email">E-mail</label><br>
                        <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                    </p>
                    <p>
                        <label for="street">Street</label><br>
                        <input type="text" id="street" name="st" placeholder="Street name">
                    </p>
                    <p>
                        <label for="house">House</label><br>
                        <input type="number" id="house" name="hs" placeholder="House number">
                    </p>

                    <p>
                        <label for="payment">Payment options</label><br>
                        <select id="payment" name="pay">
                            <option selected="selected">Bitcoin</option>
                            <option>Bitcoin Cash</option>
                            <option>Ethereum</option>
                            <option>Monero</option>
                        </select>
                    </p>

                    <p>
                        <input type="radio" id="female"name="ge" value="female">
                        <label for="female">Female</label><br>
                        <input type="radio" id="male" name="ge" value="male">
                        <label for="male">Male</label><br>
                        <input type="radio" id="undisclosed" name="ge" value="undisclosed" checked="checked">
                        <label for="undisclosed">Undisclosed</label><br>
                    </p>

                </form>
            </section>

            <p>
                <button type="submit" id="send"><img src="img/checked.jpg">Send</button>
            </p>

        </main>
        <hr>
            <footer>
                &copy; 2020 BuRRRRRRRRRRRRRRgers Inc.
            </footer>
    </body>
</html>
