body {
	margin: 0;
	padding: 0;
}

#customer-info {
    font-style: italic;
    font-size: 90%;
}

.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}


#map-box {
	position: relative;
	margin: 0;
	padding: 0;
	background-image: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
}

#dot {
	position: absolute;
	background-color: black;
	color: white;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
}

#dot:hover {
    cursor: pointer;
}


#orderList, #selected > div {
    z-index: 2;
	color: black;
}

#orderList {
	top: 1em;
	left: 1em;
	position: absolute;
    padding: 1em;
    background-color: rgba(255,255,255, 0.6);
    border: 1px solid silver;
}

#orderList > div > div {
    display: grid;
    grid-template-columns: 60px auto;
}

#orderListItem {
    grid-column: 2;
    align-self: left;
}

button {
    width: 50px;
    height: 40px;
}


#selected {
    position: absolute;
}

#selected > div {
    top: -15px;
    left: 15px;
    position: relative;
    padding: 7px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
