body {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 13pt;
    margin: 0 auto;
}

section {
    margin: 5px 10px;
    padding: 5px 10px;
}

button:hover {
    background: cyan;
    cursor: crosshair;
}

.warn {
    font-weight: bold;
    color: red;
}

.info {
    font-weight: bold;
    color: #7FFF7F;
}

#selection {
    background-color: black;
    color: white;
    border: 2px dashed white;
}

#order {
    border: 2px dashed black;
}

#burgers {
    width: 70%;
}

#send {
    margin-top: 50px;
}

#header {
    margin: 5px 10px;
}

#himg {
    width: 100%;
    opacity: .8;
}
