body {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 13pt;
    margin: 0 auto;
}

section {
    margin: 5px 10px;
    padding: 5px 10px;
}

button:hover {
    background: cyan;
    cursor: crosshair;
}


.warn {
    font-weight: bold;
    color: red;
}

.info {
    font-weight: bold;
    color: #7FFF7F;
}


#header {
    height: 400px;
    margin: 5px 10px;
    overflow: hidden;
}

#header > img {
    width: 100%;
    height: auto;
    opacity: .5;
}

#header > h1 {
    position: absolute;
    margin-top: -420px;
    padding: 50px 100px;
}


#selection {
    background-color: black;
    color: white;
    border: 2px dashed white;
}

#burgers {
    width: 80%;
}

#burgers img {
    height: 200px;
}

#bimgs {
    text-align: center;
}


#order {
    border: 2px dashed black;
}

#send {
    margin-top: 50px;
}
