body {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 13pt;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

section {
    margin: 5px 10px;
    padding: 5px 10px;
}

button:hover {
    background: cyan;
    cursor: crosshair;
}

footer {
    margin-left: 5px;
}


/* text highlights */
.warn {
    font-weight: bold;
    color: red;
}

.info {
    font-weight: bold;
    color: #7FFF7F;
}

/* boxes */
.box, .cbox {
    padding: 5px;
}

.cbox {
    text-align: center;
}


#header {
    height: 200px;
    margin: 5px 10px;
    overflow: hidden;
}

#header > img {
    width: 100%;
    height: auto;
    opacity: .5;
}

#header > h1 {
    position: absolute;
    margin-top: -420px;
    padding: 50px 100px;
}


#selection {
    background-color: black;
    color: white;
    border: 2px dashed white;
}

#burgers {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 30% 30% 30%;
    margin-top: 30px;
}

.burger {
    display: grid;
}

/* contents of a burger box */
.bname {
    font-weight: bold;
    font-size: 120%;
    grid-row: 1;
}
.bimg {
    grid-row: 2;
}
.bimg > img {
    height: 250px;
}
.blist {
    grid-row: 3;
}


#order {
    border: 2px dashed black;
}

#send {
    margin-top: 30px;
    margin-left: 10px;
}

#send > img {
    width: 10px;
}
